<ion-content
        [scrollEvents]="true"
        (ionScroll)="logScrolling($event)">
    <div class="scroll-to-top" (click)="scrolltotop()" *ngIf="showtop">
        <p>
            <ion-icon name="arrow-up"></ion-icon>
        </p>
    </div>
    <ion-list>
        <ion-item *ngFor="let item of list">
            <ion-label>{{item.title}}</ion-label>
            <ion-note color="warning" slot="end">{{item.note}}</ion-note>
        </ion-item>
    </ion-list>
    <div (click)="scrolltobottom()" class="scroll-to-bottom" *ngIf="showbottom">
        <p>
            <ion-icon name="arrow-down"></ion-icon>
        </p>
    </div>
</ion-content>



